.sticky-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
height: 60px;
    width: 100%;
}

#next-live {
    font-size: 24px;
    margin-right: 20px;
}


#countdown {
    font-size: 30px;
    margin: 0 2px;
}

#video-icon {
    font-size: 24px;
    margin-right: 20px;
}

/* CSS styles go here */
.carousel-container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 50px;
  flex-basis: 100%;
  text-align: left;
}

.carousel-wrapper {
  flex-basis: 100%;
  display: flex;
  overflow: hidden;
}

img {
height: 50px;
width: 100px;
}


.carousel {
  display: flex;
}

.carousel-slide {
  flex: 0 0 calc(25% - 10px); /* Display up to 4 images per line */
  margin-right: 10px;
}

.carousel-slide:last-child {
  margin-right: 0;
}

.carousel-slide img {
  max-width: 100%;
  height: auto;
}

.prev-slide, .next-slide {
  margin-top: 200px;
}

.prev-slide, .next-slide {
  padding: 10px 50px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.prev-slide:hover, .next-slide:hover {
  background-color: #0056b3;
}

/* Adjust button styles */
.see-more {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.see-more:hover {
  background-color: #0056b3;
}
